{{- validateSemverAll .Artifacts -}}
components:
- name: {{ default (base .ScanPath) .Args.component }}
  version: "{{ default "0.1.0" .Args.version }}"
  provider:
    name: {{ default "unknown" .Args.provider }}
  resources:
{{- range uniqueByRaw .Artifacts }}
{{- $ver := requireSemver . }}
  - name: {{ if .Repository }}{{ sanitizeName .Repository }}{{ else }}{{ sanitizeName .Reference }}{{ end }}
    type: ociImage
    version: "{{ $ver }}"
    access:
      type: ociArtifact
      imageReference: {{ withVersion .Reference $ver }}
{{- end }}
